* {
    border-radius: 0 !important;
}

body {
    background-color: #cccccc;
}

.spacer {
    margin-top: 3%;
}

.panel{
    box-shadow: 6px 5px 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: 6px 5px 15px rgba(0,0,0,0.2);
}

.panel-primary {
    border-color: #dc0067;
}

.panel-primary > .panel-heading {
    border-color: #dc0067;
    background-color: #dc0067;
}

.list-group-item {
    border: none;
}

.longterm {
    margin-left: 15px !important;
}
