* {
    border-radius: 0 !important;
}

body {
    background-color: #cccccc;
}

.spacer {
    margin-top: 5%;
}

.panel-primary {
    border-color: #dc0067;
}

.panel-primary > .panel-heading {
    border-color: #dc0067;
    background-color: #dc0067;
}
