<!DOCTYPE html>
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Freifunk Rhein Neckar - Nutzungsvereinbarung</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="/static/js/jquery-min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    {% if token %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Eintragung erfolgreich!</strong> Sie wurden soeben für die nächsten 12 Stunden freigeschaltet, danach müssen Sie diese Meldung wieder bestätigen. Wir leiten Sie jetzt nach {{ url }} um!
        <script>window.setTimeout('window.location = "{{ url }}"',3000);</script>
    </div>
    {% endif %}
    {% if iptoken %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Achtung!</strong> Eintragung fehlgeschlagen! Bitte versuchen Sie es in einigen Minuten erneut.
    </div>
    {% endif %}
    {% if dbtoken %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Wiederholte freischaltung!</strong> Sie sind bereits freigeschaltet und können unser Netz benutzen.
    </div>
    {% endif %}
    <div class="container-fluid spacer">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 ">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Freifunk Rhein Neckar - Nutzungsbedingungen</h3>
                  </div>
                  <div class="panel-body">
                    {% block toc %}{% endblock %}
                  </div>
                  <ul class="list-group">
                      <li class="list-group-item">
                        <form action="" method="post" name="login">
                            <button type="submit" class="btn btn-success">Akzeptieren</button>
                            <label><input class="longterm" type="checkbox" name="longterm" value="true" /> Erinnere dich an mich</label><br />
                        </form>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
    <div>
    {% if token %}
    {% endif %}
</body>
</html>
