{% extends "index.html" %}
{% block toc %}
<p><b>Herzlich willkommen im Netz von Freifunk Rhein Neckar</b></p>
<p>Freifunk ist komplett von seinen Benutzer geschaffen worden, es gibt keine mächtige Instanz, die über das Netz herrscht. Jeder Anwender ist zum gleichen Teil an dem Projekt beteiligt. Die Beteiligten betreiben das Netzwerk auf eigene Kosten und dies ist nur möglich, wenn sich alle an ein paar Regeln halten:</p>
<ul>
<li><strong>Sei Fair!</strong><br />
Das Netzwerk darf nicht in einer Weise beansprucht werden die das Netzwerk selbst, dessen Betreibende oder andere Teilnehmende beeinträchtigt.</li>
<li><strong>Achte auf deine Sicherheit!<br />
</strong>Das Netzwerk ist, wie das Internet, unverschlüsselt und offen. Jede teilnehmende Person ist selbst für die Sicherheit ihrer Verbindungen und ihrer Endgeräte verantwortlich.</li>
<li><strong>Keine rechtswidrige Nutzung!</strong><br />
Das Netzwerk darf nicht für Handlungen missbraucht werden, welche gesetzliche Bestimmungen oder die Rechte Dritter verletzen. Es dürfen keine Inhalte übertragen werden, welche gegen geltendes Recht verstoßen. Dazu zählt auch die Verbreitung und der Download von uhrheberrechtlich geschütztem Material</li>
</ul>
<p>Die Basis der Regeln untereinander bildet das <a href="https://wiki.freifunk-rhein-neckar.de/doku.php/regeln:pico_peering_agreement">Pico Peering Agreement</a>. Bitte halte Dich daran, sonst kann ein soziales Projekt nicht funktionieren.</p>
<hr>
<p>Da das Netz von Freiwilligen betrieben wird, brauchen wir immer Hilfe. Wenn Du unser Netz benutzt, würde es uns freuen wenn Du selber einen Knoten betreiben und deinen Internetanschluss teilen würdest, damit noch mehr Menschen von einem freien Netz profitieren können.
Die dazu nötigen Infos findest du in unserem <a href="https://wiki.freifunk-rhein-neckar.de">Wiki</a>. Wenn du dich für den technischen Teil nicht interessierst uns aber trotzdem unterstützen willst findest du im Wiki wege wie du uns erreichen kannst. Wir helfen dir gerne einen Freifunk Knoten einzurichten!</p>
{% endblock %}
